header {
    position: relative;
    /* float: right; */
   
}

.dots {
    width: 40px;
    height: 40px;
}

.prof {
    width: 48px;
    height: 48px;
    margin-left: 5px;
    margin-right: 5px;
}
.contain {
    float: right;
    margin: 5px;
}

.link {
    padding: 10px;
}

.more {
    margin-left: 10px;
}

.logo {
    position: absolute;
    top: 210px;
    left: 500px;
    width: 600px;
    height: 200px;
}

.input {
    position:relative;
    top:350px;
    left: 450px;
    border:1px solid #dcdcdc;
    border-radius: 20px;
    width:600px;

}

.input:hover {
    box-shadow: 2px 1px 8px 1px #dcdcdc;
}
#search-box {
    width: 582px;
    color: #222;
    border-style: none;
    border-radius: 24px;
    font-size: 15px;
    padding: 14px;
    padding-left: 25px;
    border: 1px solid #dfe1e5;
    outline: none;
}

#search:focus {
    background-color: white;
    border: 1px;
}

.buttons {
    position: absolute;
    top: 430px;
    left: 580px;
}

button {
    margin: 30px;
    height: 30px;
    width: 130px;
    border: none;
    background-color: #dcdcdc;
}

button:hover {
    box-shadow: 1px 1px 1px #dcdcdc;
    border: 1px solid rgb(95, 92, 92);
}

.voice {
    position: relative;
    top:5px;
    right: px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    top: -16px;
    margin-right: 16px;
}
.menu-item:hover {
    text-decoration: underline;
}

nav {
    text-align: right;
}

#dropdown-menu {
    position: relative;
    top: -10px;
}

section {
    text-align: center;
}